$color-green: #00A11E
$color-default: #282136
$color-white: #ffffff

=checkbox
    width: 14px
    height: 14px
    border: 1px solid #C6CBD4
    border-radius: 1px
    &.checked
        background: $color-green url(~@/assets/svg/checked.svg) no-repeat center center
        border-color: $color-green
